fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
psycopg2-binary>=2.9.9
alembic
asyncpg
greenlet
uvloop
python-multipart
docker
openai
httpx
celery[redis]
redis
kombu
